<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

<title>
</title>

<link rel="stylesheet" href="ng-css.css"/>

<style>
input.ng-invalid {
    border: 2px solid red;
    background-color: pink;
}
input.ng-valid {
    background-color: white;
    border: 2px solid lightsteelblue;
}
</style>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>

</head>

<body>

<!--this defines a module and adds a controller-->
<h3>form</h3>
<div ng-app="thisApp2" ng-controller="thisControlHash">
  <form novalidate>
    first:<br/>
    <input class="blankMe" type="text" ng-model="user.firstName"/><br/>
    last:<br/>
    <input class="blankMe" type="text" ng-model="user.lastName"/><br/>
    <br/>
    <button ng-click="reset()">start over</button>
  </form>
  <br/>
  <p> {{ user }}</p>
  <p> {{ master }}</p>
  <form name="thisForm">
    <span>nothing</span><br/>
    <input  name="thisInput" ng-model="thisInput" required>
    <span ng-show="thisForm.thisInput.$touched && thisForm.thisInput.$invalid">
     nothing is required</span><br/>
    <span>email</span><br/>
    <input name="emailInput" ng-model="emailInput" type="email" required/>
    <span ng-show="thisForm.emailInput.$touched && thisForm.emailInput.$invalid">
     email is required</span>
     <br/>
     <br/>
     <p>bullshit</p>
     <input name="scorePut" ng-model="scorePut" required req-underscore/>
  </form>
  <br/>
  <p>valid field?: {{ thisForm.thisInput.$valid }}</p>
  <p>valid email?: {{ thisForm.emailInput.$valid }}</p>
  <span id="testMe"></span>
</div>

</body>

<script src="thisApp.js"></script>
<script src="thisControlHash.js"></script>
<script src ="clear_inputs.js"></script>

</html>
